//overwrite
$body-bg: #DDE6ED;

$primary: #526D82;
$secondary: #9DB2BF;
$dark: #27374D;
$info: #9ab6da;
$warning: #e49b1f;

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';

a {
  text-decoration: none;
}

td {
  vertical-align: middle;
}

.navbarStyle {
  background-color: #27374D;
}

.navbarText {
  color : white
}

.navLogo{
  width: 300px;
  height: 100%;
}

.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.Low-Level-Text {
  color: gray;
}

.textTable {
  font-size: large;
  font-weight: bold;
}

.carouselTes {
  background-color: #27374D
}

.kategoriText {
  text-align: center;
}

.listProdukAdmin {
  height: 100px;
  width: 100px;
}

.searchEngineHeader{
  text-align: center;
}

.Catalog-Custom-Img{
    height: 250px;
    object-fit: cover;
}

.Custom-Category-Img{
    height: 300px;
    object-fit: cover;
}

.Swiper-Slider-Custom{
  height: 600px;
}